html {
  font-size: 62.5%;
}

body {
  font-size: $m-size;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background: #e9ebee;
}

h1 {
  margin: auto 20px;
}

.App {
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  height: 20vmin;
}

.App-header {
  background-color: #2d2d2d;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: left;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.container{
  display: table-cell;
  height: 200px;
  width: 100vw;
  vertical-align: middle;
  text-align: center;
}

.beadsLayout {
  width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#snaptarget {
  width: 80vw;
  border-radius: 30px;
  border-bottom: 15px solid #2d2d2d;
  margin: auto;
}
