html {
  font-size: 62.5%;
}

body {
  font-size: $m-size;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background: #e9ebee;
  margin: 0;
}

h1 {
  margin: auto 20px;
}

.App {
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  height: 20vmin;
}

.App-header {
  background-color: #2d2d2d;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: left;
  font-size: calc(5px + 2vmin);
  color: white;
  margin: 0 5px;
}

.App-link {
  color: #09d3ac;
}

.flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexbox .board {
  flex-wrap: wrap;
}

.board {
  display: flex;
  flex-direction: row;
  min-height: 100px;
  align-self: stretch;
}

.preview {
  display: inline-flex;
  margin: auto;
}

#Board-2 .bead {
  margin: auto 0;
}

#Board-2 {
  position: relative;
  width: 80vw;
  margin: auto;
  margin-top: 20px;
}

#snaptarget {
  position: absolute;
  background-color: #2d2d2d;
  height: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  border-radius: 50px;
  z-index: -1;
}

.options {
  margin: 10px 0;
  display: flex;
  flex: 1;
  flex-direction: row ;
  flex-wrap: wrap;
}
