// Colors
$background: #e9ebee;
$paleBlue: #b8c8e2;
$powderBlue: #7f97c2;
$niagara: #284382;
$navyBlue: #253468;
$skyBlue: #0e77cc;
$lint: #66773e;
$islandParadise: #84c2ba;
$mintGreen: #b8d4b5;
$turquoise: #43a4a2;
$lakeBlue: #0d93a0;
$lime: #b6d045;
$green: #51b434;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$logo: 8rem;
$desktop-breakpoint: 45rem;
